# JWT 시크릿 키 (터미널에서 'openssl rand -base64 64'로 생성)
# 인텔리제이에서 환경변수로 설정할 때는 = 뒤에 공백이 없어야 함
# 실행 버튼 옆의 'Edit Configurations...'에서 환경변수 설정 가능 -> + 버튼 클릭 -> Environment Variables에 환경변수이름=값으로 추가.


JWT_SECRET=your_jwt_secret_key_here